---
// layout
import BaseLayout from "../layouts/BaseLayout.astro";

// componentes
import ProyectoCard from "../componentes/ProyectoCard.tsx";
import { Toaster } from "../componentes/Toast";

// agregar para content collection
import { getCollection } from "astro:content";

const allProyectos = await getCollection("proyectos");

const pageTitle = "Proyectos · Gato Rojo Lab";
---

<style>
  .proyectos {
    padding: 2rem 0;

    & p {
      margin: 0 auto;
      width: 75%;
      max-width: 1000px;
    }

    & ul {
      margin: 2rem auto;
      width: 90%;
      max-width: 1200px;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 1.5rem;
      padding: 0;
      justify-content: center;
    }
  }

  @media (max-width: 768px) {
    .proyectos {
      & ul {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 95%;
      }
    }
  }
</style>

<BaseLayout pageTitle={pageTitle}>
  <section class="proyectos">
    <p style="font-size: 1.5rem; text-align: center">
      Estos son algunos de los proyectos que hemos realizado. Si ve alguno que
      le guste, no dude en mencionarlo cuando nos <a
        href="/contacto"
        class="linkContacto">reunamos</a
      >.
    </p>

  <Toaster client:load />

    <ul>
      {
        allProyectos.map((proyecto: any) => (
          <ProyectoCard
            client:load
            key={proyecto.name}
            name={proyecto.data.name}
            tags={proyecto.data.tags}
            description={proyecto.data.description}
            emoji={proyecto.data.emoji}
            link={proyecto.data.link}
          />
        ))
      }
    </ul>
  </section>
</BaseLayout>
